---
import { ui, type Locale } from "../i18n/ui";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

type Props = {
    title?: string;
    description?: string;
    canonicalPath?: string;
};

const { title = "Keita Tsuji" } = Astro.props;

const locale = (Astro.currentLocale ?? "en") as Locale;

import "../styles/global.css";
---

<!doctype html>
<html lang={locale}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="google-site-verification"
            content="YT9lJU3q0EIABC_m9xMwB3evnniX3sod6UdhdqRc2J8"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />

        <style>
            main {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0;
                flex: 1;
                padding: 0 1em;
            }
            .container {
                width: 100%;
                max-width: 960px;
                padding-top: 1em;
            }
        </style>
    </head>
    <body>
        <Header locale={locale} />
        <main>
            <div class="container">
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>
